#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.commentCard {
  color: #000000;
}

.commentCard {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #ffffff;
}

.commentCard .author {
  color: #555555;
}

.commentCard .createdAt {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #bfe1b0;
  color: #000000;
  font-size: 12px;
}

.commentCard p {
  margin: 16px;
  font-size: 14px;
  color: #555555;
}
